html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

#review-write-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 200px;
}

.null-box {
    height: 50px;
}

.write-button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.write-contents-box{
    display: flex;
    flex-direction: column;
}

.write-title-box{
    display: flex;
    align-items: center;
    flex-grow: 1;

    border: 1px solid rgba(7, 65, 115, 0.2);

    padding: 5px 5px 5px 5px;
}

.write-title-textarea{
    width: 100%;

    font-size: 25px;

    border: none;
    outline: none;
    background: none;
    resize: none;
    overflow: hidden;
    
}

.write-content-box{
    padding: 12px 16px;

    min-height: 450px;
    
    border: 1px solid rgba(7, 65, 115, 0.2);
}

.write-content-textarea{
    border: none;
    outline: none;
    background: none;
    resize: none;

    width: 100%;

    font-size: 20px;
}

.write-update-button{
    display: flex;
    justify-content: flex-end;
}

.my-travel-diary-load-butoon{
    position: relative;
}

.my-travel-diaty-list-box{
    position: absolute;
    top: 0%;
    right:100%;

    width: 200px;
    height: 600px;
    background-color: white;
    border: 1px solid rgba(7, 65, 115, 0.2);
}
