html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

#travel-detail-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 200px;
}

.travel-detail-image-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 50px;

    min-width: 1546px;
}

.travel-detail-image-list {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
    gap: 20px;
}

.travel-image-list {
    display: flex;
}

.travel-image-list:hover {
    cursor: pointer;
}

.travel-empty-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-empty-image {
    width: 150px;
    height: 100px;

    padding: 30px;

    background-image: url("https://cdn-icons-png.flaticon.com/128/11423/11423562.png");
    background-size: cover;
    background-position: center;
}

.travel-image-list-left {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    background-image: url(../../../../../assets/image/page-left.png);
    background-size: 100% 100%;
}

.travel-image-list-left:hover {
    cursor: pointer;
}

.travel-image-list-right {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    background-image: url(../../../../../assets/image/page-right.png);
    background-size: 100% 100%;
}

.travel-image-list-right:hover {
    cursor: pointer;
}

.travel-detail-table {
    display: flex;
    flex-direction: column;

    width: 100%;
    border: 1px solid rgba(7, 65, 115, 0.2);
    border-radius: 8px;

    gap: 20px;
    padding: 20px;

    min-width: 1504px;
}

.travel-main-menu {
    display: flex;
    gap: 10px;

    width: 450px;
    text-align: start;
}

.travel-service-menu {
    display: flex;
    gap: 10px;

    width: 450px;
    text-align: start;
}
