#wrapper {
    display: grid;
    grid-template:
        "sidenav main" minmax(864px, auto)
        / 257px minmax(1182px, 1fr);
    margin: 20px 200px;
    gap: 20px;
}
.side-navigator-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 30px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 5px;
}
.side-container-element {
    max-height: 80px;
    min-height: 80px;

    font-size: 20px;
    font-weight: 400;
    line-height: 175%;
}
.side-container-link:hover {
    cursor: pointer;
    color: rgba(100, 100, 100, 1);

    text-shadow: 0px 0px 3px rgba(7, 65, 115, 0.3);
}
.side-container-content {
    display: flex;
    text-align: center;

    height: 80px;
    margin: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 8px;

    line-height: 80px;
}

.side-container-content-active {
    background-color: rgba(238, 238, 238, 1);

    height: 80px;
    margin: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 8px;

    line-height: 80px;
}
