#sign-up-wrapper {
    margin: 0px auto;
    height: 966px;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../../../assets/image/travel-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.sign-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin: 0px auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* padding: 50px 0; */

    background-color: rgba(255, 255, 255, 0.6);

    height: 800px;
    width: 600px;
}
.sign-up-title {
    text-align: center;

    font-size: 32px;
    font-weight: 700;

    color: rgba(7, 65, 115, 1);
}

.sign-up-input-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 450px;
}

.sign-up-input-box {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.sign-up-input-main {
    display: flex;
    align-items: center;
    gap: 8px;

    width: 100%;
}

.sign-up-input-title {
    width: 110px;
    font-size: 18px;
    font-weight: 400;

    color: rgba(64, 64, 64, 1);
}

.sign-up-input {
    width: 90%;

    background: none;
    border: none;
    outline: none;

    padding: 12px;

    font-size: 16px;
}

.sign-up-outline {
    position: relative;
    flex: 1;

    border: 1px solid rgba(128, 128, 128, 0.2);
}

.sign-up-message {
    position: absolute;
    padding-top: 8px;
    font-size: 12px;
}
