#top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    height: 64px;

    background-color: rgba(255, 255, 255, 1);

    /* text 드래그 방지 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.top-navigation-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-navigation-logo {
    width: 40px;
    height: 40px;

    background-image: url(../../assets/image/travel-title-icon.png);
    background-size: 100% 100%;
}

.top-navigation-title {
    font-style: WavvePADO;
    font-size: 24px;
    font-weight: 700;
    color: rgba(7, 65, 115, 1);

    cursor: pointer;
}

.top-navigation-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-navigation-item {
    font-style: WavvePADO;
    font-size: 16px;
    font-weight: 400;
    color: rgba(7, 65, 115, 0.8);

    cursor: pointer;
}

.top-navigation-item:hover {
    color: rgba(7, 65, 115, 1);

    text-shadow: 0px 0px 5px rgba(7, 65, 115, 0.3);
}

.top-navigation-item-active {
    color: rgba(7, 65, 115, 1);
}

.top-navigation-item-active:hover {
    color: rgba(7, 65, 115, 1);

    text-shadow: 0px 0px 5px rgba(7, 65, 115, 0.3);
}
.loginUser-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 142px;

    cursor: pointer;
}
.user-profile{
    background-size: 50px 50px ;
    background-position: center;

    min-width: 50px;
    height: 50px;

    border-radius: 50%;
}
.top-navigation-right-drop-down {
    display: flex;
    justify-content: center;

    position: relative;
    top: 120%;
    right: 350%;
    z-index: 2;

    width: 200px;
    height: 50px;
    background-color: white;
    border: 1px solid rgba(7, 65, 115, 0.2);

    cursor: default;
}
.navigation-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-move-page{
    cursor: pointer;
}
.sign-out-button{
    cursor: pointer;
}