html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

#qna-list-wrapper {
    max-width: 1400px;
    margin: 100px 100px;
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.qna-list-topbar {
    display: flex;
    justify-content: space-between;
}

.qna-list-write-box {
    display: flex;
    justify-content: center;

    border-radius: 8px;
    padding: 12px 20px;

    font-size: 14px;
    font-weight: 400;

    color: rgba(255, 255, 255, 1);

    background-color: rgba(22, 121, 171, 0.6);
}

.qna-list-write-box:hover {
    cursor: pointer;
}

.qna-list-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    min-width: 1400px;
}

.qna-list-top-left {
    font-size: 16px;
    font-weight: 400;
}

.emphasis {
    font-size: 16px;
    font-weight: 400;

    color: rgb(44, 61, 77);
}

.qna-list-top-right {
    display: flex;
    text-align: center;
}

.toggle {
    width: 34px;
    height: 20px;
    background-image: url(../../../../assets/image/toggle.png);
    background-size: 100% 100%;

    cursor: pointer;
}

.toggle-active {
    width: 34px;
    height: 20px;
    background-image: url(../../../../assets/image/toggle-active.png);
    background-size: 100% 100%;

    cursor: pointer;
}

.qna-list-top-right-text {
    font-size: 16px;
    font-weight: 400;
}

.qna-list-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 8px;

    background-color: rgba(255, 255, 255, 1);

    min-width: 1400px;
}

.qna-list-table-title {
    display: flex;
    align-items: center;
    padding: 15px 24px;

    gap: 95px;

    font-size: 13px;
    font-weight: 700;
    text-align: center;

    color: rgba(64, 64, 64, 1);
}

.qna-list-table-list {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    border-top: 1px solid rgba(238, 238, 238, 1);

    gap: 95px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

    color: rgba(64, 64, 64, 1);
}

.qna-list-table-list:hover {
    cursor: pointer;
}

.qna-list-reception-number {
    width: 70px;
}

.qna-list-status {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.qna-list-title {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qna-list-writer-id {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qna-list-write-date {
    width: 90px;
}

.qna-list-bottom {
    display: flex;
    justify-content: space-between;

    min-width: 1400px;
}

.qna-list-pagenation {
    display: flex;
    align-items: center;

    gap: 24px;
}

.qna-list-page-left {
    width: 40px;
    height: 40px;

    background-image: url(../../../../assets/image/page-left.png);
    background-size: 100% 100%;

    cursor: pointer;
}

.qna-list-page-right {
    width: 40px;
    height: 40px;

    background-image: url(../../../../assets/image/page-right.png);
    background-size: 100% 100%;
    cursor: pointer;
}

.qna-list-page-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.qna-list-page {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: rgba(148, 146, 166, 1);

    cursor: pointer;
}

.qna-list-page-active {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: rgba(64, 64, 64, 1);

    cursor: default;
}

.qna-list-bottom-right {
    display: flex;
    gap: 12px;
    align-items: center;
}

.qna-list-search-input-box {
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;

    padding: 8px 16px;
    width: 168px;

    background-color: white;
}

.qna-list-search-input {
    border: none;
    outline: none;
    background: none;

    width: 100%;

    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}
