#main-wrapper {
    position: relative;
}


.main-side {
    position: absolute;
    height: 100%;
    top: 0px;
    display: flex;
    align-items: start;
    z-index: 9999;
}

.main-side-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    border: 1px solid rgba(7, 65, 115, 1);
    height: calc(100% - 14px);
    width: 600px;
    background-color: rgba(255, 255, 255, 1);
}

.main-side-top {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px;

    background-color: rgba(7, 65, 115, 1);
}

.main-side-top-title-box {
    display: flex;
    gap: 8px;
    align-items: center;

    color: rgba(255, 255, 255, 1);
}

.main-side-top-search-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-side-top-search-button {
    border-radius: 8px 8px;
    width: 32px;
    height: 32px;

    background-color: rgba(255, 255, 255, 1);
    background-image: url('../../assets/image/search-icon.png');
    background-position: 50% 50%;
    background-size: 75% 75%;
    background-repeat: no-repeat;

    cursor: pointer;
}

.main-side-top-search-button:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.main-side-top-search-input {
    flex: 1;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 1);

    padding: 4px 8px;

    font-size: 18px;
}

.main-side-sort {
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 24px;
    border-bottom: 1px solid rgba(7, 65, 115, 1);
}

.main-side-check-container {
    display: flex;
    gap: 8px;
}

.main-side-check-box {
    display: flex;
    align-items: center;
    gap: 4px;
}

.main-side-check-label {
}

.main-side-sort-container {
    display: flex;
    gap: 8px;
    justify-content: end;
    font-size: 12px;
}

.main-side-sort-link {
    color: rgba(64, 64, 64, 1);
    cursor: pointer;
}

.main-side-sort-link.active {
    color: rgba(231, 41, 41, 1);
}

.main-side-more-button {
    margin: 0 auto;
    border: 1px solid rgba(7, 65, 115, 1);
    border-radius: 4px;
    padding: 4px;
    width: 80px;

    text-align: center;
    font-size: 12px;

    cursor: pointer;
}

.main-side-item-container {
    flex: 1;
    overflow-y: scroll;
}

.main-side-more-button:hover {
    background-color: rgba(233, 233, 233, 0.4);
}

.side-list-item {
    display: flex;
    align-items: center;
    gap: 16px;

    border-bottom: 1px solid rgba(22, 121, 171, 0.1);
    padding: 16px;

    cursor: pointer;
}

.side-list-item:hover {
    background-color: rgba(22, 121, 171, 0.1);
}

.side-list-item-image {
    border-radius: 8px;
    width: 120px;
    height:120px;

    background-position: 50% 50%;
    background-size: cover;
}

.side-list-item-info-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.side-list-item-info-title-box {
    display: flex;
    align-items: end;
    gap: 8px;
}

.side-list-item-info-title {
    font-size: 16px;
}

.side-list-item-info-type {
    font-size: 12px;
    color: rgba(64, 64, 64, 0.8);
}

.side-list-item-info-location {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: rgba(64, 64, 64, 0.8);
}

.side-list-item-recommendation-box {
    display: flex;
    gap: 8px;

    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
}

.side-list-item-button-box {
    display: flex;
    justify-content: end;
    gap: 8px;
}

.side-list-item-button {
    padding: 8px 12px;
    border-radius: 4px;
    font-family: Inter;
    font-weight: 600;
    cursor: pointer;
}

.side-list-item-button:hover {
    opacity: 0.8;
}

.side-list-item-button.start {
    background-color: rgba(22, 121, 171, 1);
    color: rgba(255, 255, 255, 1);
}

.side-list-item-button.stopover {
    background-color: rgba(255, 166, 47, 1);
    color: rgba(255, 255, 255, 1);
}

.side-list-item-button.end {
    background-color: rgba(231, 41, 41, 1);
    color: rgba(255, 255, 255, 1);
}

.main-side-button-box {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.main-side-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(7, 65, 115, 1);
    border-left: none;
    border-radius: 0 10px 10px 0;
    height: 60px;
    width: 25px;

    background-color: rgba(255, 255, 255, 0.8);

    cursor: pointer;
}

.main-side-button:hover {
    background-color: rgb(152, 171, 238);
}

.info-box {
    position: absolute;
    left: -235px;
    bottom: -24px;
    width: 600px;
    border: 1px solid rgba(64, 64, 64, 0.8);

    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color:  rgba(255, 255, 255, 1);
}

.info-box-toolbar {
    display: flex;
    justify-content: end;
    margin-bottom: -16px;
}

.info-box-exit-button {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/image/exit-icon.png');
    background-size: 100% 100%;
}

.info-box-exit-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.info-box-top {
    display: flex;
    align-items: center;
    gap: 12px;
}

.info-box-image {
    border-radius: 16px;
    width: 100px;
    height: 100px;

    background-size: 100% 100%;
    background-color: rgba(64, 64, 64, 0.4);
}

.info-box-main {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;
    font-family: Inter;
}

.info-box-main-title-box {
    display: flex;
    gap: 4px;
    align-items: end;
}

.info-box-main-title {
    font-size: 18px;
    font-weight: 600;
}

.info-box-main-type {
    width: 80px;
    color: rgba(64, 64, 64, 0.8);
}

.info-box-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favorite-icon-button {
    width: 36px;
    height: 36px;

    background-image: url('../../assets/image/favorite-icon.png');
    background-size: 100% 100%;
}

.favorite-icon-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.favorite-icon-button-clicked {
    width: 36px;
    height: 36px;

    /* background-image: url('../../assets/image/favorite-icon.png');
    background-size: 100% 100%; */
}

.favorite-icon-button-clicked:hover {
    cursor: pointer;
    opacity: 0.9;
}

.info-box-bottom-right {
    display: flex;
    gap: 8px;
}

.main-waypoints {
    position: absolute;
    top: 0px;
    left: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding-top: 12px;
}

.main-waypoints-item {
    position: relative;
    width: 240px;
    display: flex;
    align-items: center;
    gap: 16px;

    border: 1px solid rgba(64, 64, 64, 1);
    padding: 8px;

    background-color: rgba(255, 255, 255, 1);
}

.main-waypoints-origin-icon {
    width: 32px;
    height: 32px;
    background-image: url('../../assets/image/start-icon.png');
    background-size: 100% 100%;
}

.main-waypoints-destination-icon {
    width: 32px;
    height: 32px;
    background-image: url('../../assets/image/finish-icon.png');
    background-size: 100% 100%;
}

.main-waypoints-waypoint-icon {
    width: 32px;
    height: 32px;
    background-image: url('../../assets/image/waypoint-icon.png');
    background-size: 100% 100%;
}

.main-waypoints-name {
    font-family: Inter;
    width: 170px;
    font-weight: 600;
}

.main-waypoints-search-button {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(64, 64, 64, 1);
    padding: 8px;

    background-color: rgba(255, 255, 255, 1);
}

.main-waypoints-search-button:hover {
    cursor: pointer;
    background-color: rgba(247, 247, 247, 1);
}

.main-waypoints-cancle-button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    background-image: url('../../assets/image/exit-icon.png');
    background-size: 100% 100%;
}

.main-waypoints-cancle-button:hover {
    cursor: pointer;
    opacity: 0.85;
}