
.side-list-item {
    display: flex;
    align-items: center;
    gap: 16px;

    border-bottom: 1px solid rgba(22, 121, 171, 0.1);
    padding: 16px;

    cursor: pointer;
}

.side-list-item:hover {
    background-color: rgba(22, 121, 171, 0.1);
}

.side-list-item-image {
    border-radius: 8px;
    width: 120px;
    height:120px;

    background-position: 50% 50%;
    background-size: cover;
}

.side-list-item-info-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.side-list-item-info-title-box {
    display: flex;
    align-items: end;
    gap: 8px;
}

.side-list-item-info-title {
    font-size: 16px;
}

.side-list-item-info-title:hover {
    cursor: pointer;
}

.side-list-item-info-type {
    font-size: 12px;
    color: rgba(64, 64, 64, 0.8);
}

.side-list-item-info-location {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: rgba(64, 64, 64, 0.8);
}

.side-list-item-recommendation-box {
    display: flex;
    gap: 8px;

    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
}

.side-list-item-button-box {
    display: flex;
    justify-content: end;
    gap: 8px;
}

.side-list-item-button {
    padding: 8px 12px;
    border-radius: 4px;
    font-family: Inter;
    font-weight: 600;
    cursor: pointer;
}

.side-list-item-button:hover {
    opacity: 0.8;
}

.side-list-item-button.start {
    background-color: rgba(22, 121, 171, 1);
    color: rgba(255, 255, 255, 1);
}

.side-list-item-button.stopover {
    background-color: rgba(255, 166, 47, 1);
    color: rgba(255, 255, 255, 1);
}

.side-list-item-button.end {
    background-color: rgba(231, 41, 41, 1);
    color: rgba(255, 255, 255, 1);
}