#rest-register-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 1035px;
    margin: 0;
    padding: 30px 100px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 5px;
}
.rest-register-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    width: 1035px;
}
.rest-register-top-element-box{
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 835;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}
.rest-register-top-title {
    width: 1035px;
}
.rest-register-element {
    display: flex;
    align-items: center;
    flex-grow: 1;

    width: 100%;

    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    padding: 8px 16px;

    background-color: rgba(255, 255, 255, 1);
}
.rest-register-input-element {
    border: none;
    outline: none;
    background: none;

    width: 100%;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;

    color: rgba(64, 64, 64, 1);
}
.rest-register-textarea-element {
    border: none;
    outline: none;
    background: none;
    resize: none;

    width: 835%;
    height: 150px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;

    color: rgba(64, 64, 64, 1);
}
.rest-register-bottom{
    display: flex;
    justify-content: center;
}