.vertical-divider {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 1);
}

.primary-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8PX;
    padding: 12px 20px;

    font-size: 14px;
    font-weight: 400;

    color: rgba(255, 255, 255, 1);

    background-color: rgba(22, 121, 171, 0.6);

    cursor: pointer;
}

.disable-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(138,146,166,1);
    border-radius: 6px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

    color: rgba(255,255,255,1);
}


.primary-button:hover {
    background-color: rgba(22, 121, 171, 0.85);
}

.error {
    color: rgba(255,84,62,1);
}

.primary-bedge {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(58,87,232,1);

    width: 45px;
    height: 20px;
    border-radius: 10px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: white;
}

.disable-bedge {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(238,238,238,1);

    width: 45px;
    height: 20px;
    border-radius: 10px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: rgba(138,146,166,1);
}

.full-width {
    box-sizing: border-box;
    width: 100%;
}