html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

#reivew-detail-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 200px;
}

.review-detail-top-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;

    min-width: 1520px;
}

.review-detail-content-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(7, 65, 115, 0.2);

    min-width: 1520px;
}

.review-detail-title-box{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid rgba(7, 65, 115, 0.2);

    font-size: 30px;
    justify-content: space-between;
}

.review-detail-title{
    width: 1200px;
}

.review-detail-content{
    margin: 0px;
    padding: 10px;

    font-size: 20px;
}

.review-detail-middle{
    display: flex;
    flex-direction: row;

    min-width: 1520px;
}

.list-page-box{
    width: 1400px;
}

.list-page-navi{
    width: 60px;
}

.list-page-navi:hover{
    cursor: pointer;
}

.under-line-text{
    text-decoration: underline;
}

.review-detail-user-role{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}


.review-middle-button{
    width: 80px;
}

.review-detail-bottom{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comments-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.comments-button-box{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.review-detail-comments-box{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(7, 65, 115, 0.2);
    padding: 10px;

    min-width: 1497px;
}

.comments-content-box{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(7, 65, 115, 0.2);
    padding: 10px;
    margin: 20px;
    gap: 10px;
}

.review-detail-comment-textarea-box{
    display: flex;
    flex-direction: row;
    gap: 7px;

    min-width: 1520px;
}

.comment-textarea{
    width: 1400px;
    height: 50px;
    
    resize: none;

    outline: none;
    border: 1px solid rgba(7, 65, 115, 0.2);

    font-size: 15px;
}

.recomment-textarea {
    width: 1200px;
    height: 20px;
    
    resize: none;
    outline: none;
    border: 1px solid rgba(7, 65, 115, 0.2);

    font-size: 15px;
}

.comment-button{
    min-width: 120px;
}

.comments-recommend-box{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 24px;
    gap: 16px;
}

.comments-recommend:hover{
    cursor: pointer;
}

.comments-recommend-button{
    display: flex;
    justify-content: center;
}

.comments-recommend-button:hover {
    cursor: pointer;
}

.comment-delete-button{
    display: flex;
    justify-content: center;
}

.comment-delete-button:hover {
    cursor: pointer;
}

.recommend-button{
    min-width: 34px;
    min-height: 34px;

    background-image: url('../../../../assets/image/recommend-button.png');
    background-size: 100%;
}

.recommend-button-clicked{
    min-width: 34px;
    min-height: 34px;

    background-image: url('../../../../assets/image/recommend-button-click.png');
    background-size: 100%;
}

.recommend-button-clicked:hover{
    cursor: pointer;
}

.recommend-button:hover{
    cursor: pointer;

}